HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### FDS ###
/src/main/resources/public/assets/govuk-frontend/
/src/main/resources/public/assets/static/
/src/main/resources/templates/fds/
/src/main/resources/public/assets/html5shiv/html5shiv.min.js
/src/test/e2e/test/test-library

### Node ###
logs
node_modules
